@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
::after,
::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(to left , red, white); */
    background:url("https://cdn.pixabay.com/photo/2017/12/10/13/37/christmas-3009949_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    padding: 10px;
    font-size: 50px;
    color: #ffda79;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: lighter;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.container{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* .img-box{
    max-width: 1000px;
} */

img{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    animation : 3s slide ;
}

@keyframes slide{
    from{
        transform: scale(0);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity: 1;
    }
}

.gauche, .droite{
    align-self: center;
    font-size: 50px;
    text-decoration: none;
    color:#ffda79;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.gauche:hover, .droite:hover{
    transform: scale(1.1);
}

.gauche{
    margin-right: 50px;

}
.droite{
    margin-left: 50px;

}


@media screen and (max-width : 430px){
    .gauche, .droite{
        font-size: 40px;
    }
    
    .gauche{
        margin-right: 10px;
    }
    .droite{
        margin-left: 10px;
    }
}

@media screen and (max-width : 380px){
    h1{
        font-size: 30px;
        padding: 30px;
    }
}